.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 14px;
  font-weight: bold;
  color: #242424;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#logobtn {
  width: 40 px;
  height: 45.5px;
  padding-right: 70px;
}

#btn {
  padding-right: 10px;
}
