.pricingHeader {
  padding-bottom: 100px;
}


.slidertwo {
  color: black;
  background-color: #fbbc04;
}

.sliderthree {
  color: white;
  background-color: #34a853;
}

.sliderfour {
  color: white;
  background-color: #ea4335;
}